@use '../../../../styles/breakpoints.scss' as *;


.arrow{
    border-radius: 17px;
    padding: 20px 27px;
    width: 166px;
    height: 64px;
    margin: 70px auto 0;

    box-shadow: 0 43px 34px -26px rgba(15, 15, 15, 0.12);
    background: #fcfcfd;

    @include respond-up-to("laptop") {
        margin: 50px auto 0;

        border-radius: 13px;
        padding: 15px 21px;
        width: 124px;
        height: 48px;
    }
}
.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 24px;

    @include respond-up-to("laptop") {
        width: 82px;
        height: 18px;
    }
}
.line{
    border-radius: 2px;
    width: 2px;
    height: 24px;
    background: #e6e8ec;
    @include respond-up-to("laptop") {
        height: 18px;
    }
}
.left,
.right{
    cursor: pointer;
    width: 54px;
    display: flex;
    align-items: center;

    @include respond-up-to("laptop") {
        width: 40px;
    }
}
.left{
    justify-content: start;
}
.right{
    justify-content: end;
}
