@use '../../../styles/breakpoints' as *;

.footer{
    background: #141416;
    padding: 88px 0;
    @include respond-up-to("laptop") {
        padding: 60px 0;
    }
}
.inner{
    max-width: 1384px;
    width: 100%;
    padding: 0 69px;
    margin: 0 auto;
    @include respond-up-to("mobile") {
        padding: 0 30px;
    }

}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 25px;

    @include respond-up-to("laptop") {
        margin-bottom: 21px;
    }

    @include respond-up-to("tablet") {
        flex-direction: column;
        align-items: start;
        gap: 32px;

        margin-bottom: 48px;
    }
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white; 
    
}
.logoIcon{
    width: 65px;
    height: 65px;
    color: white; 

    @include respond-up-to("laptop") {
        width: 44px;
        height: 44px;
    }
}
.logoIcon * {
    fill: white !important;
}
  
.title{
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    color: #fff;
    @include respond-up-to("laptop") {
        font-size: 21px;
    }
}
.line{
    border: 1px solid #818181;
    width: 100%;
    height: 0px;

    opacity: 0.25;
}
.bottom{
    font-weight: 500;
    font-size: 17px;
    line-height: 147%;
    color: #999;

    margin-top: 56px;

    .desktop {
        display: block;
    }
      
    .mobile {
        display: none;
    }

    @include respond-up-to("laptop") {
        margin-top: 40px;
    }
    @include respond-up-to("tablet") {
        max-width: 64px;
        margin: 26px auto 0;
    }
    @include respond-up-to("mobile") {
        max-width: 248px;
        font-size: 14px;
        line-height: 114%;
        
        .desktop { display: none; }
        .mobile { 
            display: block;
         }
      }
}