@use '../../../../styles/breakpoints.scss' as *;

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    @include respond-up-to("laptop") {
        gap: 50px;
    }
    @include respond-up-to("tablet") {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
}
.link{
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    text-transform: capitalize;
    color: #b9b9b9;
    @include respond-up-to("laptop") {
        font-size: 12px;
    }
}