@import './styles/fonts.css';

* {
  overscroll-behavior: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  letter-spacing: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f1f1f1;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit; 
}

input {
  outline: none;
}


